/* color */
$brown: #6f5039;
$pbrown: #6e5138;
$gbrown: #a9876d;
$shadow: #87abd0;
$dark: #333;
$gray: #999;
$background: #e4e5ea;

$tipsGray: #bfc1c4;
$unactBtn: #d7d9df;
$borderGray: #e0e0e0;
$boldBorderGray: #ddd;

/* size */
$fontSize: .28rem;
$space: .28rem;
$iconSize: .45rem;
